
<% include ../partials/header%>
<style>.addbtn{display:none;}</style>
<div class="container" style="margin-top:26px">
    <div class="row">
        <div class="col-md-12">
<form action="http://localhost:3000/item/add" method ="POST" class="form-horizontal ">
            <!-- Textbox for name -->
              <div class="form-group">
                  <label for="name" class="control-label col-md-2">Name</label>
                  <div class="col-sm-12">
                      <input type="text" name="name" value="" class="form-control" required>
                  </div>
              </div>
              <!-- Textbox for qty -->
              <div class="form-group">
                      <label for="qty" class="control-label col-md-2">Quantity</label>
                      <div class="col-sm-12">
                          <input type="number" name="qty" value="" class="form-control" required>
                      </div>
              </div>
              <!-- Textbox for amount -->
              <div class="form-group">
                      <label for="amount" class="control-label col-md-2">Amount</label>
                      <div class="col-sm-12">
                          <input type="number" name="amount" value="" class="form-control" required> 
                      </div>
              </div>
                <!-- Textbox for submit btn -->
                <div class="form-group">
                      <div class="col-sm-12" style="text-align: center">
                          <input type="submit" name="submit" value="Save" class="btn btn-primary btn-lg"> 
                      </div>
              </div>
        </form>
        </div>
    </div> 
</div>

<% include ../partials/footer%>